@model RidePal.WEB.Models.ArtistWrapModel

<!DOCTYPE html>

<html lang="en">

<body>

    <!----Loader---->
    <div class="ms_inner_loader">
        <div class="ms_loader">
            <div class="ms_bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <!----Main Wrapper Start---->
    <div class="ms_main_wrapper">
        <!----Album Single Section Start---->
        <div class="ms_album_single_wrapper ms_artist_single">
            <div class="album_single_data">
                <div class="album_single_img">
                    <img src=@this.Model.Artist.ImagePathBig alt="" class="img-fluid">
                </div>
                <div class="album_single_text">
                    <h2>@this.Model.Artist.Name</h2>
                    <p class="singer_name">Artist, @this.Model.Style</p>

                    <div class="album_btn">
                        <a class="ms_btn play_btn" onclick="DZ.player.playTracks([@string.Join(",", this.Model.TopTracks.Select(x => x.Id))])"><img src="assets/images/svg/play_all.svg" alt="">Play All</a>
                    </div>
                </div>
                <div class="album_more_optn ms_more_icon">
                    <span><img src="~/images/svg/more.svg" alt=""></span>
                </div>
                <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
            </div>
            <!----Song List---->
            <div class="album_inner_list">
                <div class="album_list_wrapper">
                    <ul class="album_list_name">
                        <li>#</li>
                        <li>Song Title</li>
                        <li>Artist</li>
                        <li class="text-center">Duration</li>
                        <li class="text-center">Add To Favourites</li>
                        <li class="text-center">More</li>
                    </ul>
                    @{
                        int idx = 1;
                        foreach (var track in this.Model.TopTracks.Take(5))
                        {
                            <ul>
                                <li><a href="#"><span class="play_no">0 @idx </span><span class="play_hover" onclick="event.preventDefault(); DZ.player.playTracks([ @track.Id ]);"></span></a></li>
                                <li><a href="#">@track.Title</a></li>
                                <li><a href="#">@this.Model.Artist.Name</a></li>
                                @{
                                    if (track.Duration % 60 < 10)
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):0@(track.Duration%60)</a></li>
                                    }
                                    else
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):@(track.Duration%60)</a></li>
                                    }
                                }
                                <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
                                <li class="text-center ms_more_icon">
                                    <a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                </li>
                            </ul>
                            idx++;
                        }
                    }

                </div>
            </div>
            <div id="list" class="album_inner_list">
                <div class="album_list_wrapper">
                    @{
                        foreach (var track in this.Model.TopTracks.Skip(5))
                        {
                            <ul>
                                @{
                                    if (idx < 10)
                                    {
                                        <li><a href="#"><span class="play_no">0 @idx </span><span class="play_hover" onclick="event.preventDefault(); DZ.player.playTracks([ @track.Id ]);"></span></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#"><span class="play_no"> @idx </span><span class="play_hover" onclick="event.preventDefault(); DZ.player.playTracks([ @track.Id ]);"></span></a></li>

                                    }
                                }
                                <li><a href="#">@track.Title</a></li>
                                <li><a href="#">@this.Model.Artist.Name</a></li>
                                @{
                                    if (track.Duration % 60 < 10)
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):0@(track.Duration%60)</a></li>
                                    }
                                    else
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):@(track.Duration%60)</a></li>
                                    }
                                }
                                <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
                                <li class="text-center ms_more_icon">
                                    <a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                </li>
                            </ul>
                            idx++;
                        }
                    }

                </div>
            </div>
            <div id="show" class="ms_view_more padder_bottom20">
                <a id="viewMoreBtn" href="#" class="ms_btn">view more</a>
            </div>
        </div>
        <!---Main Content Start--->
        <div class="ms_content_wrapper ms_artist_content">
            <div class="ms_featured_slider">
                <div class="ms_heading">
                    <h1>Albums & Singles</h1>
                </div>
                <div class="ms_relative_inner">
                    <div class="ms_feature_slider swiper-container">
                        <div class="swiper-wrapper">
                            @{

                                foreach (var album in this.Model.Albums)
                                {
                                    <div class="swiper-slide">
                                        @{ //TODO : Remove the hardcoded link
                                        }
                                        <a href="https://localhost:5000/albums/@album.Id">
                                            <div class="ms_rcnt_box">
                                                <div class="ms_rcnt_box_img">
                                                    <img src=@album.ImagePath alt="">
                                                    <div class="ms_main_overlay">
                                                        <div class="ms_box_overlay"></div>
                                                        <div class="ms_more_icon">
                                                            <img src="~/images/svg/more.svg" alt="">
                                                        </div>
                                                        <ul class="more_option">
                                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="ms_rcnt_box_text">
                                                    <h3><a href="#">@album.Name</a></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next1 slider_nav_next"></div>
                    <div class="swiper-button-prev1 slider_nav_prev"></div>
                </div>
            </div>
            <!--main div-->
        </div>
    </div>

    <partial name="~/Views/Shared/_PlayerPartial.cshtml" />
    <script>
        $(document).ready(function () {

            $("#list").hide();
            $("#show").click(function () {
                if (document.getElementById('viewMoreBtn').innerHTML === 'view more') {
                    document.getElementById('viewMoreBtn').innerHTML = 'hide';
                }
                else {
                    document.getElementById('viewMoreBtn').innerHTML = 'view more'
                }
                $("#list").slideToggle();
            });
        });
    </script>
</body>
</html>