@using RidePal.Web.Models
@model CreateUserViewModel

<!----Register Modal Start---->
<div class="ms_register_img">
    <img src="~/Images/register_img.png" alt="" class="img-fluid" />
</div>
<div class="ms_register_form">
    <h2>Sign Up</h2>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.FirstName)
        <input asp-for="FirstName" type="text" placeholder="First Name" class="form-control">
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.LastName)
        <input asp-for="LastName" type="text" placeholder="Last Name" class="form-control">
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.Username)
        <div id="validation-error2" class="text-danger" hidden="hidden"></div>

        <input asp-for="Username" type="text" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.Email)
        <div id="validation-error2" class="text-danger" hidden="hidden"></div>
        <input asp-for="Email" type="text" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.Password)
        <input asp-for="Password" type="password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(x=>x.ConfirmPassword)
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control">
    </div>
    <input id="register" type="submit" value="Sign Up" class="ms_btn">
    <p>Already Have An Account? <a id="signIn" data-toggle="modal" class="ms_modal hideCurrentModel">Sign In</a></p>
</div>
<script>

    function OnComplete() {
        $('#SignUp').modal('hide');
        alert("Signed up successfulluy");
    }

    document.getElementById("signIn").addEventListener("click", ShowLogin);
    function ShowLogin() {
        debugger;
        let register = $("#myModal2");
        let login = $("#myModal1");
        register.modal('hide');
        login.modal('show');
    }
</script>
