@using RidePal.Data.Models;
@using RidePal.Services.Interfaces;
@using RidePal.WEB.Models;

@model CreatePlaylistViewModel

@inject IGenreService genService
@{
    var list = await this.genService.GetAudiences();
    var audiences = new SelectList(list, "Id", "Name");
}


<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/GeneratorStyle.css">

</head>
<body>
    <div class="ms_inner_loader">
        <div class="ms_loader">
            <div class="ms_bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="ms_main_wrapper">
        <div class="ms_content_wrapper padder_top80" style="padding-top:20px !important">

            <div id='myMap' style='width: 100%; height: 300px;'></div>
            <center>
                <form asp-controller="Playlist" asp-action="CreatePlaylist" method="post">
                    <div class="row">

                        <div class="form-row" style="margin-left:2%;">

                            <center>
                                <div class="title">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="class=" form-control title" style="width:50%;">
                                        <input asp-for="Name" type="text" id="form3Example1c" class="form-control" placeholder="Give a name to your amazing playlist here..." />
                                        <span asp-validation-for="Name"></span>
                                    </div>
                                </div>
                            </center>
                            <div class="column">
                                <br>
                                <center>
                                    <div id='searchBoxContainer' style="width:80%;">
                                        <input id='searchBox' type="text" class="form-control" style="padding:0 !important;" name="StartingDestination"
                                               placeholder="@this.ViewData["StartPoint"]" />
                                        <input id="depart" type="hidden" value="" name="StartPoint" />

                                    </div>
                                </center>
                                <br>
                                <center>

                                <div class="myClass">

                                    <div class="myClassItems">
                                        <input asp-for="RepeatArtists" type="checkbox" />
                                            <label style ="color:whitesmoke" asp-for="RepeatArtists">Repeat Artists</label>
                                    </div>
                                    <div class="myClassItems">
                                        <input asp-for="TopSongs" type="checkbox" />
                                            <label style="color:whitesmoke" asp-for="TopSongs">Top Songs</label>
                                    </div>
                                </div>
                                </center>
                                <br>
                                <center>
                                    <div class="audienceDrop" style="display: inline-flex;flex-direction: row;">
                                        <label style="color:whitesmoke;display: flex;flex-direction:row;margin-top:8px;margin-right: 10px;font-size: 19px;">Choose an audience:</label>
                                        <div>
                                        <select class="minimal form-control" style="width:200px;" asp-for="AudienceId" asp-items="@audiences">                                           
                                        </select>
                                        </div>
                                        @* <select asp-for="Audience" asp-items="@Html.GetEnumSelectList<Audience>()"></select>*@
                                    </div>
                                    </center>
                            </div>
                             <br>
                            <div class="column">
                                <center>
                                    <div id='searchBoxContainer2' style="width:80%;">
                                        <input id='searchBox2' type="text" class="form-control" style="padding:0 !important;" name="ArrivingDestination"
                                               placeholder="@this.ViewData["ArrivePoint"]" />
                                        <input id="arrive" type="hidden" value="" name="ArrivePoint" />
                                    </div>
                                </center>
                                <br>
                                @*div event listener взима чек боксовете/ проверява дали са чекд/ на отворените запазва ID/ for цикъл през отворениие кутийски за проценти*@
                                <center>
                                    <div id="checkboxes" style="margin-right:1%;">
                                        @for (int i = 0; i < Model.GenresWithPercentages.Count; i++)
                                        {
                                            var genrename = this.Model.GenresWithPercentages[i].GenreName;
                                            if (genrename.ToLower().Contains("edm"))
                                            {
                                                genrename = "EDM";
                                            }
                                            var checkboxId = i;

                                            <input class="gorenInput" type="checkbox" id=@checkboxId value="@this.Model.GenresWithPercentages[i].GenreName" name="userInp">
                                            <label style="color:whitesmoke;margin-right:5px;margin-left:5px;">@genrename</label>
                                        }
                                    </div>
                                    <br>
                                </center>
                                <center>
                                    <div class="container-fluid" style="width:auto;">
                                        @for (int i = 0; i < Model.GenresWithPercentages.Count; i++)
                                        {
                                            var inputId = $"inp{i}";
                                            var function = $"myFunction{i}()";
                                            var divId = $"getGenre{i}";

                                            <div id=@divId style="display:none;" name="divBoxes">
                                                <div>
                                                    @* <label>@Model.GenresWithPercentages[i].GenreName</label>*@
                                                    @Html.HiddenFor(model => model.GenresWithPercentages[i].GenreName)

                                                    <label style="color:whitesmoke">@this.Model.GenresWithPercentages[i].GenreName</label>
                                                    <input asp-for="@this.Model.GenresWithPercentages[i].Percentage" type="text" class="form-control" style="width:80px;margin:0 !important;" id=@inputId />

                                                </div>
                                            </div>
                                        }
                                    </div>
                                </center>

                                <center>
                                    <input class=" ms_btn" style="width:200px;margin:2%;height: 40px; border:none" type="button" id="openBox" value="Set genre % (Required)">
                                    <button class="ms_btn " type="reset" style="width:200px;margin:2%;height: 40px; border:none" onClick="window.location.reload();">Reset </button>
                                </center>
                            </div>

                        </div>
                        <div class="sumDiv">                    
                            <input id="submitTrip" type="submit" class="submTr ms_btn" style="width:200px;margin:2%;height: 40px;" value="Generate Playlist">                   
                        </div>
                    </div>
                </form>
            </center>
            <br>
            <br>
            <br>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type='text/javascript'>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                /* No need to set credentials if already passed in URL */

            });


            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
                var options = {
                    maxResults: 8,
                    map: map
                };
                var manager = new Microsoft.Maps.AutosuggestManager(options);
                manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
                var manager = new Microsoft.Maps.AutosuggestManager(options);
                manager.attachAutosuggest('#searchBox2', '#searchBoxContainer2', selectedSuggestion2);
            });
            function selectedSuggestion(suggestionResult) {

                map.setView({ bounds: suggestionResult.bestView });
                if(pushpin==null){
                  var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                }
                else{
                    pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                }
                map.entities.push(pushpin);

                $("#depart").attr('value', suggestionResult.location.latitude + "," + suggestionResult.location.longitude);

            }
            function selectedSuggestion2(suggestionResult) {

                map.setView({ bounds: suggestionResult.bestView });
                var pushpin2 = new Microsoft.Maps.Pushpin(suggestionResult.location);
                map.entities.push(pushpin2);

                $("#arrive").attr('value', suggestionResult.location.latitude + "," + suggestionResult.location.longitude);

            }


        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Ap4BY1B20Ldbim2QZCCJK3EAW0jdSisoIOvt3kJjv8dBjM_3pzfu9442oM8AsrxJ&callback=loadMapScenario' async defer></script>


    <script class="myScript" src="/js/playlistGenerator.js"> </script>


</body>
</html>
