@using RidePal.Data.Models;
@using RidePal.WEB.Models;

@model CreatePlaylistViewModel


<html>

<body>
    <div class="ms_inner_loader">
        <div class="ms_loader">
            <div class="ms_bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="ms_main_wrapper">
        <div class="ms_content_wrapper padder_top80">

            <div id='myMap' style='width: 100%; height: 350px;'></div>
            <br>
            <br>
            <form asp-controller="Playlist" asp-action="CreatePlaylist" method="post">

                <div class="form-row">
                    <center>
                        <div class="form-group col-md-6" id='searchBoxContainer'>
                            <input id='searchBox' type="text" class="form-control" name="StartingDestination"
                                   placeholder="@this.ViewData["StartPoint"]" />
                            <input id="depart" type="hidden" value="" name="StartPoint" />

                        </div>
                        <br>

                        <div class="form-group col-md-6" id='searchBoxContainer2'>
                            <input id='searchBox2' type="text" class="form-control" name="ArrivingDestination"
                                   placeholder="@this.ViewData["ArrivePoint"]" />
                            <input id="arrive" type="hidden" value="" name="ArrivePoint" />
                        </div>

                    </center>


                    <br>
                    <center>
                        <button type="submit">GenerateTrip</button>
                    </center>

                    <div class="form-group col-md-6">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="form3Example1c">Title</label>
                            <input asp-for="Name" type="text" id="form3Example1c" class="form-control" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label>Choose an audience:</label>
                            <select asp-for="AudienceId" asp-items="@ViewBag.Audiences">
                            </select>
                           @* <select asp-for="Audience" asp-items="@Html.GetEnumSelectList<Audience>()"></select>*@
                        </div>
                    </div>

                    <input asp-for="RepeatArtists" type="checkbox" />
                    <label asp-for="RepeatArtists">Repeat Artists</label>

                    <input asp-for="TopSongs" type="checkbox" />
                    <label asp-for="TopSongs">Top Songs</label>
                    @for (int i = 0; i < Model.GenresWithPercentages.Count; i++)
                    {
                       <div class="form-group col-md-6">
                            <div class="form-outline flex-fill mb-0">
                        <label>@Model.GenresWithPercentages[i].GenreName</label>
                        @Html.HiddenFor(model => model.GenresWithPercentages[i].GenreName)
                        <input asp-for="@Model.GenresWithPercentages[i].Percentage" />
                            </div>
                        </div>
                        <br>
                    }
                    <div class="form-group col-md-6">
                        <input type="submit" class="btn btn-primary btn-lg" value="Generate Playlist">
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type='text/javascript'>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                /* No need to set credentials if already passed in URL */

            });
                       

            Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () {
                var options = {
                    maxResults: 8,
                    map: map
                };
                var manager = new Microsoft.Maps.AutosuggestManager(options);
                manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
                var manager = new Microsoft.Maps.AutosuggestManager(options);
                manager.attachAutosuggest('#searchBox2', '#searchBoxContainer2', selectedSuggestion2);
            });
            function selectedSuggestion(suggestionResult) {

                map.setView({ bounds: suggestionResult.bestView });
                var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                map.entities.push(pushpin);

                $("#depart").attr('value', suggestionResult.location.latitude + "," + suggestionResult.location.longitude);

            }
            function selectedSuggestion2(suggestionResult) {

                map.setView({ bounds: suggestionResult.bestView });
                var pushpin2 = new Microsoft.Maps.Pushpin(suggestionResult.location);
                map.entities.push(pushpin2);

                $("#arrive").attr('value', suggestionResult.location.latitude + "," + suggestionResult.location.longitude);

            }


            


        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Ap4BY1B20Ldbim2QZCCJK3EAW0jdSisoIOvt3kJjv8dBjM_3pzfu9442oM8AsrxJ&callback=loadMapScenario' async defer></script>


</body>
</html>
