@using RidePal.WEB.Models;

@model PlaylistViewModel
@{
    var startCoordinates = this.Model.Trip.StartCoordinates.Split(',').ToArray();
    var destCoordinates = this.Model.Trip.DestinationCoordinates.Split(',').ToArray();
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="ms_inner_loader">
        <div class="ms_loader">
            <div class="ms_bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    @{
        TimeSpan t = TimeSpan.FromSeconds(this.Model.Duration);
        string duration3;
        if (this.Model.Duration > 3600)
        {

            duration3 = string.Format("{0:D1}h:{1:D2}m:{2:D2}s",
            t.Hours,
            t.Minutes,
            t.Seconds);
        }
        else
        {
            duration3 = string.Format("{0:D2}m:{1:D2}s",
            t.Minutes,
            t.Seconds);
        }
    }

    <div class="ms_album_single_wrapper">
        <div class="album_single_data">
            <div class="album_single_img">
                <img src="@this.Model.ImagePath" alt="" class="img-fluid">
            </div>
            <div class="album_single_text" style="padding-top: 0px;">
                <h2>@this.Model.Name</h2>
                <a class="singer_name" asp-action="Index" asp-controller="User" asp-route-email="@this.Model.Author.Email" style="color:white">@this.Model.Author.Username</a>
                <div class="album_feature">
                    <a class="album_date">Tracks: @this.Model.Tracks.Count() | Duration: @duration3</a>
                    <a class="album_date">Created: @this.Model.CreatedOn | Audience: @this.Model.Audience.Name</a>
                </div>
                <div class="album_btn" style="display:inline-flex">
                    <a class="ms_btn play_btn" onclick="event.preventDefault(); DZ.player.playTracks([@string.Join(",", this.Model.Tracks.Select(x => x.TrackId))]);"><img src="assets/images/svg/play_all.svg" alt="">Play All</a>
                    <img id="likeHeart" style="width: 35px;height: 35px;margin-right: 5px;margin-top: 3px;"src="~/Images/whiteHeart.png">
                    <form id="likeForm" asp-action="Like" asp-asp-controller="Playlist" method="post">
                        <input type="hidden" name="username" value="@this.User.Identity.Name">
                        <input type="hidden" name="playlistId" value="@this.Model.Id">
                        <input type="hidden" name="title" value="@this.Model.Name">
                    </form> 
                    <p style="font-size:25px;font-family:sans-serif;margin-top:10px;color:white">@this.Model.LikesCount</p>
                </div>
            </div>

        </div>

        <div class="album_inner_list">
            <div class="album_list_wrapper">
                <ul class="album_list_name">
                    <li>#</li>
                    <li>Song Title</li>
                    <li>Artist</li>
                    <li class="text-center">Duration</li>
                    <li class="text-center">Add To Favourites</li>
                    <li class="text-center">More</li>
                </ul>
                @{
                    int count = 1;
                    foreach (var item in this.Model.Tracks)
                    {
                        TimeSpan t1 = TimeSpan.FromSeconds(item.Track.Duration);

                        string duration1 = string.Format("{0:D2}m:{1:D2}s",
                        t1.Minutes,
                        t1.Seconds);

                        <ul>
                            <li><a onclick="DZ.player.playTracks([@item.TrackId]); return false;"><span class="play_no">@count</span><span class="play_hover"></span></a></li>
                            <li><a href="#">@item.Track.Title</a></li>
                            <li><a asp-controller="Artists" asp-action="Artist" asp-route-id="@item.Track.ArtistId">@item.Track.Artist.Name</a></li>
                            <li class="text-center"><a href="#">@duration1</a></li>
                            <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
                            <li class="text-center ms_more_icon">
                                <a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                </ul>
                            </li>
                        </ul>

                        count++;
                        if (count == 5)
                        {
                            break;
                        }
                    }

                }
                <div id="list" class="album_inner_list">
                    <div class="album_list_wrapper">
                        @{
                            foreach (var item in this.Model.Tracks.Skip(5))
                            {
                                TimeSpan t2 = TimeSpan.FromSeconds(item.Track.Duration);

                                string duration2 = string.Format("{0:D2}m:{1:D2}s",
                                t2.Minutes,
                                t2.Seconds);
                                <ul>
                                    <li><a onclick="DZ.player.playTracks([@item.TrackId]); return false;"><span class="play_no">@count</span><span class="play_hover"></span></a></li>
                                    <li><a href="#">@item.Track.Title</a></li>
                                    <li><a asp-controller="Artists" asp-action="Artist" asp-route-id="@item.Track.ArtistId">@item.Track.Artist.Name</a></li>
                                    <li class="text-center"><a href="#">@duration2</a></li>
                                    <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
                                    <li class="text-center ms_more_icon">
                                        <a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                                        <ul class="more_option">
                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                count++;
                            }
                        }
                    </div>
                </div>
            </div>
            <div id="show" class="ms_view_more padder_bottom20">
                <a id="viewMoreBtn" class="ms_btn">view more</a>
            </div>
            <br>
            <br>
            <div id='myMap' style='width: 100%; height: 350px;'></div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <partial name="~/Views/Shared/_PlayerPartial.cshtml" />

    <script>
        $(document).ready(function () {

            $("#list").hide();
            $("#show").click(function () {
                if (document.getElementById('viewMoreBtn').innerHTML === 'view more') {
                    document.getElementById('viewMoreBtn').innerHTML = 'hide';
                }
                else {
                    document.getElementById('viewMoreBtn').innerHTML = 'view more'
                }
                $("#list").slideToggle();
            });
        });
    </script>
    <script type='text/javascript'>
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                /* No need to set credentials if already passed in URL */

            });

            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {

                var directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);
                // Set Route Mode to driving
                directionsManager.setRequestOptions({ routeMode: Microsoft.Maps.Directions.RouteMode.driving });
                var waypoint1 = new Microsoft.Maps.Directions.Waypoint({ location: new Microsoft.Maps.Location(@startCoordinates[0], @startCoordinates[1]) });
                var waypoint2 = new Microsoft.Maps.Directions.Waypoint({ location: new Microsoft.Maps.Location(@destCoordinates[0], @destCoordinates[1]) });
                directionsManager.addWaypoint(waypoint1);
                directionsManager.addWaypoint(waypoint2);
                // Set the element in which the itinerary will be rendered
                directionsManager.setRenderOptions({ itineraryContainer: document.getElementById('printoutPanel') });
                directionsManager.calculateDirections();
            });
        }

    </script>
    <script>
        const heart = document.getElementById("likeHeart");
        heart.addEventListener("click", function () {
            document.getElementById("likeForm").submit();
        });
        heart.addEventListener("mouseover", function () {
            heart.style.width="40px";
            heart.style.height = "40px";
        });
        heart.addEventListener("mouseout", function () {
            heart.style.width = "35px";
            heart.style.height = "35px";
        });
    </script>

    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Ap4BY1B20Ldbim2QZCCJK3EAW0jdSisoIOvt3kJjv8dBjM_3pzfu9442oM8AsrxJ&callback=loadMapScenario' async defer></script>
</body>