@using RidePal.WEB.Models;

@model PlaylistViewModel

<head>

</head>
<body>
    <p>
        @Model.Audience.Name
    </p>
    <p>
        @Model.Author.Email
    </p>
    <p>
        @String.Format("{0:0.##}", Model.AvgRank);
    </p>
    <p>
        @TimeSpan.FromSeconds(Model.Duration).ToString(@"hh\:mm\:ss")
    </p>
    @foreach (var item in @Model.Genres)
    {
        <p>
            @item.Name
        </p>
    }
    <table>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Rank</th>
            <th>Artist</th>
            <th>Duration</th>
        </tr>

        @foreach (var track in Model.Tracks)
        {
            <tr>
                <td> @track.Track.Title</td>
                <td> @track.Track.Album.Name</td>
                <td> @track.Track.Rank</td>
                <td> @track.Track.Genre.Name</td>
                <td> @track.Track.Artist.Name</td>
                <td> @TimeSpan.FromSeconds(track.Track.Duration).ToString(@"mm\:ss") </td>
            </tr>

        }
    </table>
    <a asp-action="Delete" asp-route-title=@Model.Name class="button-1">Delete</a>
    <a asp-action="EditPlaylist" asp-route-title=@Model.Name class="button-1">Edit</a>
</body>