@*@model IEnumerable<RidePal.Data.Models.Track>

@{
    foreach (var item in this.Model)
    {
        <h4>@item.Title</h4>
        <h4>@item.GenreName</h4>
        <h4>@item.Duration</h4>
        <h4>@item.Rank</h4>
        <br>
        <br>
        <hr>
    }
}

<h3>@this.Model.Count()</h3>*@