@model RidePal.WEB.Models.SingleAlbumWrapperModel

<!DOCTYPE html>
<html lang="en">
<body>
    <!----Loader---->
    <div class="ms_inner_loader">
        <div class="ms_loader">
            <div class="ms_bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <!----Main Wrapper Start---->
    <div class="ms_main_wrapper">
        <!---Header--->
        <div class="ms_header">
            <div class="ms_top_left">
                <div class="ms_top_search">
                    <input type="text" class="form-control" placeholder="Search Music Here..">
                    <span class="search_icon">
                        <img src="~/images/svg/search.svg" alt="">
                    </span>
                </div>
                <div class="ms_top_trend">
                    <span><a href="#" class="ms_color">Trending Songs :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
                </div>
            </div>
            <div class="ms_top_right">
                <div class="ms_top_lang">
                    <span data-bs-toggle="modal" data-target="#lang_modal">languages <img src="~/images/svg/lang.svg" alt=""></span>
                </div>
                <div class="ms_top_btn">
                    <a href="javascript:;" class="ms_btn reg_btn" data-bs-toggle="modal" data-bs-target="#myModal"><span>register</span></a>
                    <a href="javascript:;" class="ms_btn login_btn" data-bs-toggle="modal" data-bs-target="#myModal1"><span>login</span></a>
                </div>
            </div>
        </div>
        <!----Album Single Section Start---->
        <div class="ms_album_single_wrapper">
            <div class="album_single_data">
                <div class="album_single_img">
                    <img src=@this.Model.Album.ImagePath alt="" class="img-fluid">
                </div>
                <div class="album_single_text">
                    <h2>@this.Model.Album.Name</h2>
                    <p class="singer_name">By - @this.Model.Album.ArtistName</p>
                    <div class="album_feature">
                        @{
                            int duration = this.Model.Album.Tracks.Sum(x => x.Duration);
                        }
                        @{
                            if (duration % 60 < 10)
                            {
                                <a href="#" class="album_date">@this.Model.Album.Tracks.Count() tracks for  @(duration / 60):0@(duration % 60) minutes</a>
                            }
                            else
                            {
                                <a href="#" class="album_date">@this.Model.Album.Tracks.Count() tracks for @(duration/60):@(duration%60) minutes</a>
                            }
                        }
                        <a href="#" class="album_date">@this.Model.Album.Genre.Name</a>
                    </div>
                    <div class="album_btn">
                        <a class="ms_btn play_btn" onclick="DZ.player.playTracks([@string.Join(",", this.Model.Album.Tracks.Select(x => x.Id))])"><img src="assets/images/svg/play_all.svg" alt="">Play All</a>                        <a href="#" class="ms_btn"><span class="play_all"><img src="~/images/svg/add_q.svg" alt="">Add To Queue</span></a>
                    </div>
                </div>
                <div class="album_more_optn ms_more_icon">
                    <span><img src="~/images/svg/more.svg" alt=""></span>
                </div>
                <ul class="more_option">
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                </ul>
            </div>
            <!----Song List---->
            <div class="album_inner_list">
                <div class="album_list_wrapper">
                    <ul class="album_list_name">
                        <li>#</li>
                        <li>Song Title</li>
                        <li>Artist</li>
                        <li class="text-center">Duration</li>
                        <li class="text-center">Add To Favourites</li>
                        <li class="text-center">More</li>
                    </ul>
                    @{
                        int idx = 1;
                        foreach (var track in this.Model.Album.Tracks)
                        {
                            <ul>
                                @{if (idx < 10)
                                    {
                                        <li><a href="#"><span class="play_no">0 @idx</span><span class="play_hover" onclick="DZ.player.playTracks([ @track.Id])"></span></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#"><span class="play_no">@idx</span><span class="play_hover" onclick="DZ.player.playTracks([ @track.Id ])"></span></a></li>
                                    }
                                }
                                <li><a href="#">@track.Title</a></li>
                                <li><a href="#">@this.Model.Album.ArtistName</a></li>
                                @{
                                    if (track.Duration % 60 < 10)
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):0@(track.Duration%60)</a></li>
                                    }
                                    else
                                    {
                                        <li class="text-center"><a href="#">@(track.Duration/60):@(track.Duration%60)</a></li>
                                    }
                                }
                                <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
                                <li class="text-center ms_more_icon">
                                    <a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                                    <ul class="more_option">
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                    </ul>
                                </li>
                            </ul>
                            idx++;
                        }
                    }
                </div>
            </div>
        </div>
        <!---Main Content Start--->
        <div class="ms_content_wrapper ms_album_content">

            <!----Featured Albumn Section Start---->
            <div class="ms_fea_album_slider padder_top5">
                <div class="ms_heading">
                    <h1>You May Also Like</h1>
                </div>
                <div class="ms_album_slider swiper-container">
                    <div class="swiper-wrapper">

                        @{
                            foreach (var album in this.Model.SuggestedAlbums)
                            {
                                <div class="swiper-slide">
                                    <a asp-for="Albums" asp-action="Album" asp-route-id="@album.Id">
                                        <div class="ms_rcnt_box">
                                            <div class="ms_rcnt_box_img">
                                                <img src=@album.ImagePath alt="">
                                                <div class="ms_main_overlay">
                                                    <div class="ms_box_overlay"></div>
                                                    <div class="ms_more_icon">
                                                        <img src="~/images/svg/more.svg" alt="">
                                                    </div>
                                                    <ul class="more_option">
                                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
                                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="ms_rcnt_box_text">
                                                <h3><a href="#">@album.Name</a></h3>
                                                <p>@album.ArtistName</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next3 slider_nav_next"></div>
                <div class="swiper-button-prev3 slider_nav_prev"></div>
            </div>
            
            <!----Main div close---->
        </div>
    </div>

    <partial name="~/Views/Shared/_PlayerPartial.cshtml" /> 
</body>

</html>